/* TRANSACTION VIEW */
.timebank th { background-color:#ddd; }
.timebank table { border:0px; }

/* Border styles */
.timebank table td {border:1px #fff solid; margin:1px; background-color:#e6e6e6; padding:7px; font-weight:normal; }
.timebank table th {border:0px; background-color:#777; padding:7px; font-weight:bold; color:#FFFFFF; }

.timebank .container { margin-left:20px; }

/* Status background color. */
.timebank .status {background-color:#fff;}
.timebank .alert {background-color:#F88;}
.timebank .alert a{color:#EEE;}
.timebank .alert a:hover{color:#FFFFFF;}
.timebank .accepted {background-color:#FFCB4C;}
.timebank .accepted a{color:#EEE;}
.timebank .accepted a:hover{color:#FFFFFF;}
.timebank .rejected {background-color:#AAA;}
.timebank .completed {background-color:#66CC33;}

/* User stats */
.timebank .userstats div{ float:left; padding:5px; margin-right:6px; background-color:#fff; border:1px #aaa solid; color:#777; margin-top:10px; font-weight:normal; }
.timebank .userstats div:first-line { font-weight:bold; color:#222; }
.timebank .userstats {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
}

@media (max-width:800px){
  .timebank .userstats {
    grid-template-columns: auto auto auto
  }
}

/* BUTTON */
.timebank .button { cursor:pointer; text-align:center; background-color:#aaa; padding:8px; width:100%; display:block; box-sizing: border-box; }

/* FIXED BUTTONS */
.timebank .fixedbuttons {
  position:fixed;
  display:block;
  bottom:0;
  width: 100%;
  left:0;
  right:0;
  z-index: 999;
}

/* HIDE AND SHOW */
.hide {display:none;}
.show {display:block;}

#result {width:100%; padding: 2% 0% 0% 0%; float:left; clear:both;}

/* POPUP NEW EXCHANGE */
#popupexchange div {float:left; padding:2%; background-color:#f5f5f5; margin:0.2%; width:49.5%; height:60px;}
.clearboth {clear:both;}
.bigbutton { background-color:#000; padding:15px; float:left; width:50%; text-align:center; }
.bigbutton a{ color:#e5e5e5;}
.bigbutton a:hover{ color:#fff; cursor:pointer; text-decoration:none;}

#popupexchange input {padding:4%;}
#popupexchange input#amount {width:30% !important;}
#popupexchange div, .bigbutton {    box-sizing: border-box;}

#showExchangeWindow {
  position: fixed;
  width:90%;
  top:90px;
  left:5%;
  background-color: #fff;
  border:1px solid #666;
}

.TBoverlay {
  display: block;
  position: fixed;
  width:100%;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  background: rgba(0,0,0,0.9);
  z-index:9999;
}

.TBoverlayClose{
  text-align:right; font-weight: bold; float:right;
  padding:7px 16px; margin:5px; margin-right:0px; color:#fff; background:#000; cursor: pointer;
  display: inline-block;
  border:1px solid #fff;
}
