/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-timebank-system-timebank {
	border:1px solid #888;
	padding: 20px;
	background-color: #eee;
	text-align: center;

}
